version: "2.4"

services:
  tgbot:
    build: .
    container_name: tes
    restart: unless-stopped

    environment:
      TZ: Asia/Shanghai
      PYTHONUNBUFFERED: "1"

      BOT_TOKEN: ${BOT_TOKEN}
      CHANNEL_USERNAME: ${CHANNEL_USERNAME}
      CHANNEL_URL: ${CHANNEL_URL}
      ADMIN_USER_ID: ${ADMIN_USER_ID}

      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}

    volumes:
      - ./logs:/app/logs

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

    network_mode: bridge
