# Telegram Bot 配置
BOT_TOKEN=7956048066:AAHbb6kYME7ycsnn0XdCM0Y9-ksakc76dEQ
CHANNEL_USERNAME=tesbot_verif
CHANNEL_URL=https://t.me/your_channel
ADMIN_USER_ID=5957445951

# MySQL 数据库配置
MYSQL_HOST=134.122.1.230
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=novan12
MYSQL_DATABASE=Tes_verif_vetbot

# 积分配置（可选，默认值在 config.py 中）
# VERIFY_COST=1
# CHECKIN_REWARD=1
# INVITE_REWARD=2
# REGISTER_REWARD=1





